{% extends "baseWidgetEditor.html" %}

{% block modalClass %}
  {{ super() }} apos-button-editor
{% endblock%}

{% block modalLabel %}
  {{ __('Button') }}
{% endblock %}

{% block modalInstructions %}
  <p>{{ __('Enter a URL and link title.') }}</p>
{% endblock %}

{% block formBody %}
<fieldset class="apos-fieldset apos-fieldset-text">
	<label>Link Text</label>
  <input class="apos-button-text" type="text" name="text" />
</fieldset>

<fieldset class="apos-fieldset apos-fieldset-text">
  <label>Link Url</label>
  <input class="apos-button-url" type="text" name="url" />
</fieldset>
{% endblock %}
